[submodule "3rdparty/gflags"]
	path = 3rdparty/gflags
	url = git@github.com:gflags/gflags.git
[submodule "3rdparty/llvm-project"]
	path = 3rdparty/llvm-project
	url = git@github.com:llvm/llvm-project.git
